*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}
.signBox{
    width: min(90%, 500px);
}
.letters{
    fill: #dffacf;
    filter: drop-shadow(0 0 20px #60B230) blur(0.8px);
    stroke:#60B230;
    stroke-width: 1px;
    animation: 25ms linear letters infinite;
}
@keyframes letters{
    from{
        stroke: #60B230;
        filter: drop-shadow(0 0 20px #60B230) blur(0.8px);
    } to {
        stroke: #559b29;
        filter: drop-shadow(0 0 20px #60B230) blur(0.8px);
    }
}
.bowl{
    fill: #f8dae5;
    filter: drop-shadow(0 0 20px #E72166) blur(0.8px);
    stroke:#E72166;
    stroke-width: 1px;
    animation: 25ms linear bowl infinite;
}
@keyframes bowl{
    from{
        stroke: #E72166;
        filter: drop-shadow(0 0 20px rgb(255, 0, 0)) blur(0.8px);
    } to {
        stroke: rgb(143, 38, 38)
        filter: drop-shadow(0 0 15px rgb(255, 0, 0)) blur(0.5px);
    }
}
.sticks{
    fill: #f5edf3;
    filter: drop-shadow(0 0 20px #27ADE4) blur(0.8px);
    stroke:#27ADE4;
    stroke-width: 1px;
    animation: 25ms linear sticks infinite;
}
@keyframes sticks{
    from{
        stroke: #27ADE4;
        filter: drop-shadow(0 0 20px #27ADE4) blur(0.8px);
    } to {
        stroke: #228db8;
        filter: drop-shadow(0 0 18px #27ADE4) blur(0.8px);
    }
}
.noodles{
    fill: #f5edf3;
    filter: drop-shadow(0 0 20px rgb(255, 0, 0)) blur(1px);
    stroke:#E6D723;
    stroke-width: 1px;
    animation: 100ms linear noodles infinite;
}
@keyframes noodles{
    from{
        stroke: #E6D723;
        filter: drop-shadow(0 0 20px #E6D723) blur(0.5px);
    } to {
        stroke: #beb11e;
        filter: drop-shadow(0 0 18px #E6D723) blur(0.5px);
    }
}
.neonBox{
    fill: #e2c3ff;
    filter:drop-shadow(0 0 15px #641ca8) blur(0.8px);
    stroke-width: 1px;
    stroke: #9729ff;
    animation: 5ms linear neonBox infinite;
}
@keyframes neonBox{
    from{
        stroke: rgb#9729ff;
        filter:drop-shadow(0 0 15px #641ca8) blur(0.8px);
    } to {
        stroke: #7120bd;
        filter:drop-shadow(0 0 15px #4c1680) blur(0.8px);
    }
}
.backboard{
    fill:#270F18;
    stroke: #1a0a10;
    stroke-width: 2px;
    filter: drop-shadow(0 0  40px rgb(32, 34, 11)) blur(1px);
}